[submodule "lib/raven-php"]
	path = lib/raven-php
	url = https://github.com/getsentry/raven-php.git
[submodule "lib/sentry-php"]
	path = lib/sentry-php
	url = https://github.com/getsentry/sentry-php.git
	branch = master
